*{margin:0;padding:0; }
body{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;background:#eee;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.clear{
    clear: both;
}
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track
{
}
::-webkit-scrollbar-thumb
{
    background-color: #9f9f9f;
}
